<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./public/css/lib/bootstrap.css" rel='stylesheet'>
    <link rel="stylesheet" href="./public/css/lib/simplebar.css">
    <link href="./public/css/style.css" rel='stylesheet'>
    <link href="./public/css/msgs.css" rel='stylesheet'>
    <link href="./public/css/bounce.css" rel='stylesheet'>
    <link href="./public/css/lib/toastr.css" rel='stylesheet'>
    <script src="https://kit.fontawesome.com/eed93c653a.js" crossorigin="anonymous"></script>
    <title>LoezBR ChatBot para Twtich.TV</title>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-md-center mt-1">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-row">
                        <div class="flex-grow-1">
                            Chat da Stream <i class="fab fa-twitch twitch"></i>
                        </div>
                        <div>
                            <i class="fas fa-user-slash fa-lg offline status">
                                <span class="count badge badge-online bg-success d-none">0</span>
                            </i>
                        </div>
                    </div>
                </div>
                <div class="card-body frame">
                    <ul class="scroll" id="chatMensagem"></ul>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col input-group">
                            <input type="text" class="form-control" id="inputMensagem" placeholder="Digite uma mensagem"
                                   aria-label="Mensagem" aria-describedby="btnEnviaMensagem">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="btnEnviaMensagem">Enviar</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <i class="fas fa-user-friends fa-2x" style="color: #772ce8;"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="carregaModal"></div>
</div>
<script src="./public/js/lib/socket.io.js"></script>
<script src="./public/js/lib/jquery.js"></script>
<script src="./public/js/lib/bootstrap.js"></script>
<script src="./public/js/lib/toastr.min.js"></script>
<script src="./public/js/base.js"></script>
<script src="./public/js/lib/simplebar.js"></script>
<script src="./public/js/principal.js"></script>
</body>
</html>