body {
    text-align: center;
    background: transparent;
}

.mensagemChat {
    text-align: start;
}

.listamensagens {
    display: flex;
}

.scroll {    
    overflow-y: auto;
    overflow-x: hidden;
}

.alinhamentomensagem {
    text-align: start;
}
.online{
    color : rgb(250,0,0);
}
.offline{
    color : black;
}

.twitch{
    color: #772ce8;
}

.badge-online {
    color: rgb(250,0,0);
    height: 17px;
    right: 36px;
    top: 17px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
}
.cardfill{
    padding: 0;
}

.card-users {
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
    left: -305px;
    z-index: -1;
}

.card-users.show {
    opacity: 1;
    left: -2px;
    width: 305px;
}

.card-body-users{
    min-height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
}

.removedistanciapadding{
    padding: 2px;
}