body {
    text-align: center;
    background: transparent;
}

.mensagemChat {
    text-align: start;
}

.chatMensagem {
    border: black;
    text-align: start;
}

.listamensagens {
    display: flex;
}

.scroll {    
    overflow-y: auto;
}

.alinhamentomensagem {
    text-align: start;
}