body {
    text-align: center;
    background: transparent;
}

.mensagemChat {
    text-align: start;
}

.listamensagens {
    display: flex;
}

.scroll {    
    overflow-y: auto;
    overflow-x: hidden;
}

.alinhamentomensagem {
    text-align: start;
}
.online{
    color : rgb(250,0,0);
}
.offline{
    color : black;
}

.twitch{
    color: #772ce8;
}

.badge-online {
    color: #fff;
    height: 17px;
    right: 36px;
    top: 17px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
}